<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shorticons" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        

    <header class="flex just-btwn align-cntr">
        <div class="brandLogo">
        <span>P</span>ortfolio
        </div>
        <nav class="navbarMenu">
            <ul class="flex just-btwn align-cntr">
                <li><a href="#project">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
    </header>


        <section class="hero flex just-arnd align-cntr">
            <div class="leftpart">
                <p id="para">
                    Hi, my name is <b>Umang Ghatbandhe.</b><br><br>
                    An Innovative Web Developer with a marketing background specializing in Github &amp; Webflow.
                </p>
                    
            
                <div class="btn first">
                    <button><a href="#">GITHUB</a></button>
                    <button><a href="#">LINKEDIN</a></button>
                    <button><a href="#">DOWNLOAD CV</a></button>
                </div>
            </div>
            <div class="rightpart">
                <img src="../assets/img/Profile_image.png" alt="" class="profilePic">
            </div>
        </section>
        <main>
            
            <section id="about">
                <h1>About</h1>
                <div class="work flex just-even align-cntr">
                    <div class="description">
                        <h2>Web Development</h2>
                        <p style="text-align: justify;">Passionate web developer skilled in front-end (HTML, CSS, JavaScript) and back-end (Node.js, Express.js) technologies. Proficient in creating responsive user interfaces, RESTful APIs, and secure databases. Committed to delivering visually compelling websites and staying updated with industry trends for innovative solutions. Ready to contribute expertise to impactful and seamless web experiences.</p>
                    </div>
                    <div class="description">
                        <h2>GitHub</h2>
                        <p style="text-align: justify;">On GitHub, I have demonstrated a strong proficiency in version control, collaborating with teams, and showcasing my web development projects. Through my repositories, I showcase a diverse range of projects, highlighting my skills in front-end and back-end technologies. I actively contribute to open-source projects, engage in code reviews, and maintain a clean and organized GitHub presence. My GitHub account serves as a reflection of my passion for continuous learning and my commitment to creating high-quality, scalable, and innovative solutions in the web development domain.</p>
                    </div>
                    <div class="description">
                        <h2>Webflow and Setup</h2>
                        <p style="text-align: justify;">Proficient in Webflow's no-code platform, I design visually appealing and responsive websites with customized layouts and animations. Skilled in handling website setup and deployment, I manage domains, hosting, and server configurations for seamless launches. My expertise in Webflow and website setup enables me to deliver polished digital solutions aligned with client objectives and user expectations.</p>
                    </div>
                    
                </div>
            </section>
            <section id="skill">
                <div class="skill-head">
                    <h1>My skills & Tools</h1>
                </div>
                <div class="skills flex just-even align-cntr flex_w line">
                    <img class="skill-item" src="../assets/img/html.png" alt="html" >
                    <img class="skill-item" src="../assets/img/css.png" alt="css">
                    <img class="skill-item third" src="../assets/img/js.png" alt="javascript">
                    <img class="skill-item" src="../assets/img/react.png" alt="react">
                    <img class="skill-item" src="../assets/img/redux.png" alt="redux">
                    <img class="skill-item" src="../assets/img/django.png" alt="django">
                    <img class="skill-item last" src="../assets/img/express.png" alt="express">
                    <img class="skill-item" src="../assets/img/aws.png" alt="aws">
                    <img class="skill-item" src="../assets/img/docker.png" alt="docker">
                </div>
            </section>
            <section id="project">
                <div class="project-head">
                    <h1 style="color: black;">My Projects</h1>
                </div>
                <div class="proj-item flex just-even align-cntr">
                    <div class="project-des">
                        <h2 class="sp">Videoflix</h2>
                        <p style="text-align: justify;">Project Description: In this ambitious project, I successfully developed an Online Video Streaming Platform—a fully functional clone of popular streaming services like Netflix. The project aimed to showcase my expertise in full-stack web development, emphasizing the creation of a seamless and immersive video streaming experience for users.</p>
                    
                        <div class="proj-des-detail">
                            <span><h2>Technologies used:</h2></span>
                            <ul class="new">
                                <li>Front-end: HTML, CSS, JavaScript (with a modern framework like React or Angular)</li>
                                <li>Back-end: Node.js (with Express.js), Python, Ruby on Rails, or similar.</li>
                                <li>Database: MySQL, PostgreSQL, MongoDB, or another database system.</li>
                                <li>Video Streaming: Video.js, JW Player, or similar libraries for video playback.</li>
                                <li>Content Delivery Network (CDN): Utilized CDN services to efficiently deliver video content to users.</li>
                                <li>Deployment: Hosted the platform on a cloud platform like AWS, Azure, or Google Cloud for scalability.</li>
                            </ul>
                            
                            <h2>Test Login Account</h2>
                            <span>Username: test@gmail.com</span>
                            <p>Password :123</p>
                        </div>
                        <div class="btn">
                            <button>
                                <a style="color: white;" href="#">Website Link</a>
                            </button>
                            <button >
                                <a style="color: white;" href="#">Github link</a>
                            </button>
                        </div>
                    </div>
                    <div class="project-scst">
                        <img src="../assets/img/netflix(1).png" alt="pro-2" class="proj-pic">
                    </div>
                    
                </div>



                <div class="proj-item flex just-even align-cntr">
                    <div class="project-des">
                        <h2 class="sp">Twitter clone</h2>
                        <p style="text-align: justify;">Project Description: A convenient and fun way to browse featured clothing & accessories from some of the best clothing brands online, especially aimed at teenagers. With this web app, you can browse products by any color you like or by trending colors, save products into favorites, and share products with friends on social media.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    
                        <div class="proj-des-detail">
                            <span><h2>Technologies used:</h2></span>
                            <ul class="new">
                                <li>Front-end: HTML, CSS, JavaScript (with a modern framework like React or Vue.js)</li>
                                <li>Back-end: Node.js (with Express.js), Python, Ruby on Rails, or similar.</li>
                                <li>Database: MySQL, PostgreSQL, MongoDB, or another database system.</li>
                                <li>Deployment: Cloud platform like AWS, Azure, or Heroku.</li>
                            </ul>
                            <h2>Test Login Account</h2>
                            <span>Username: test@gmail.com</span>
                            <p>Password :123</p>
                        </div>
                        <div class="btn">
                            <button >
                                <a style="color: white;" href="#">Website Link</a>
                            </button>
                            <button >
                                <a style="color: white;" href="#">Github link</a>
                            </button>
                        </div>
                    </div>
                    <div class="project-scst">
                        <img src="../assets/img/twitter(1).png" alt="pro-2" class="proj-pic">
                    </div>
                    
                </div>
            </section>
        </main>
    </body>
    <footer id="contact">
        <h1>Hope you found my portfolio interesting!</h1>
        <p>You can reach me at: <a id="email" href="https://mail.google.com/mail/u/0/?ogbl#inbox" target="__blank">umang@techis.io</a></p>
        <hr>
        <div class="social-icons">
            <a href="#"><img src="../assets/img/icons/fonts/GitHub-Mark.png.png" alt="" class="git"></a>
            <a href="#"><img src="../assets/img/icons/likedin.png" alt="" class="link"></a>
        </div>
        <p id="copy">Umang Portfolio -  © 2022 All Rights Reserved</p>
    </footer>
    
    </footer>

</html>